.header__logo {
    background: url("../img/logo.png");
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

#board {
    background-color: #fff8e9;
    min-height: 600px;
}

.board__card {
    position: relative;
    margin: 20px;
    width: 200px;
    cursor: move;
}

.card__del-btn {
    position: absolute;
    right: 10px;
    top: 16px;
}

.card__edit-btn {
    position: absolute;
    right: 10px;
    top: 36px;
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: url("../img/edit.svg") transparent center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.card__edit-btn:hover {
    opacity: .75;
}

.card__edit-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    opacity: 1;
}

#visit-form [required] {
    background: radial-gradient(circle, rgba(255,0,0,1) 10%, rgba(0,0,0,0) 20%) left center / 1em 1em no-repeat;
}